
html, body {
    background-color: var(--main-color9-hsl);
    font-family: var(--font-family-paragraph);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-header);
    font-weight: 700;
    color: var(--secondary-color4-hsl);
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
    color: var(--secondary-color2-hsl);
}

.main-container {
    margin: 5% auto;
    width: 80%;
    max-width: 960px;
}

@media (min-width: 576px) {
    .main-container {
        width: 60%;
    }
}