.chat-header {
    background: var(--main-color5-hsl);
    background: -moz-linear-gradient(-45deg,  var(--main-color4-hsl) 0%, var(--main-color6-hsl));
    background: -webkit-linear-gradient(-45deg,  var(--main-color4-hsl) 0%,var(--main-color6-hsl) 100%);
    background: linear-gradient(135deg,  var(--main-color4-hsl) 0%,var(--main-color6-hsl) 100%);
    padding: 1.5rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.chat-header .info img {
    width: 7rem;
    height: auto;
    display: inline-block;
    border-radius: 3.5rem;
    border: 0.3rem #fff solid;
    vertical-align: middle;
}

.chat-header .info div {
    display: inline-block;
    padding-left: 1rem;
    vertical-align: middle;
}

.chat-header .info div h3 {
    color: #fff;
}

.chat-header .info div p {
    margin-bottom: 0;
    color: #fff;
}